* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	color: #333;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

body {
	padding: 2rem 2.5rem;
	background-repeat: repeat;
	background-image: url(pattern.svg);
	background-size: 500px;
	background-attachment: fixed;
}

h1 {
	font-size: 2rem;
	text-transform: uppercase;
}

h2 {
	font-size: 1.2rem;
	text-transform: uppercase;
	border-bottom: 1px solid #888;
	padding: 0.75rem 0;
	margin-bottom: 2rem;
}

h3 {
	font-size: 1rem;
	text-transform: uppercase;
	color: #ffbb00;
}

.projects h3 {
	margin-bottom: 10px;
}

p {
	line-height: 1.5;
}

section + section {
	margin-top: 2rem;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.profile {
	text-align: center;
}

.profile img {
	border-radius: 50%;
	max-width: 250px;
}

.profile p {
	color: #888;
	margin-bottom: 1rem;
	font-size: 1.25rem;
}

.contact ul {
	margin-top: -2rem;
}

.contact li {
	text-align: right;
	padding-top: 1rem;
	color: rgb(40, 40, 40);
	font-size: 1rem;
}

.skills > ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}

.timeline .event + .event {
	padding-top: 1rem;
}

.timeline .event {
	display: grid;
	grid-template-columns: 5ch 1fr;
}

.timeline .content {
	border-left: 1px solid #888;
	padding-left: 1rem;
	margin-left: 1rem;
}

.content > h3 + p {
	margin-bottom: 1rem;
	color: #333;
}

.projects li {
	margin: 1em;
	list-style: square;
}

.projects a {
	color: royalblue;
}

.resume {
	display: grid;
	grid-template-columns: 40% 1fr;
	grid-gap: 4rem;
	background-color: rgb(255, 255, 255);
	padding: 3rem;
	max-width: 1000px;
	margin: auto;
}

.skills ul li h3 {
	margin-bottom: 10px;
}

.skills ul li ul li {
	margin-left: 15px;
	list-style:square;
	margin-bottom: 10px;
}


.online.education li {
	margin-left: 15px;
	list-style:square;
	margin-bottom: 10px;
}



footer {
	margin: auto;
	background-color: rgb(255, 255, 255);
	max-width: 1000px;
	height: 100px;
	width: 100%;
}

footer ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-around;
}

footer ul li {
	margin-top: 20px;
	font-size: 1.5em;
	text-transform: uppercase;
}

div.icon {
	width: 25px;
	height: 25px;
}

.rs-school_logo {
	width: 75px;
	height: 30px;
}
